{% extends "./base.html" %}

{% block title %} Explotaciones {% endblock %}

{% block body %}


<div class="container">
    <div class="row my-5">
      <div class="col-md-8 offset-md-2">

        <nav aria-label="breadcrumb" style="margin: 5rem 0 4rem;">
            {% if serie %}
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item"><a href="/obras/">Obras 2023 y posteriores</a></li>
                <li class="breadcrumb-item active" aria-current="page"> <a
                    href="/distribuciones/{{serie.id}}">Distribuciones</a></li>
                <li class="breadcrumb-item active" aria-current="page">Explotaciones {{ serie.titulo }}</li>
            </ol>
            {% endif %}
        </nav>

        <h1 class="mb-5">Listado de explotaciones</h1>
        <table class="table" id="tablaExplotaciones">
            <thead>
                <tr>
                    <th scope="col">Cadena</th>
                    <th scope="col">Año</th>
                    <th scope="col">Publicación</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for explotacion in explotaciones %}
                <tr>
                    <td>{{explotacion.0}}</td>
                    <td>{{explotacion.1}}</td>
                    <td>{{explotacion.2}}</td>
                    <td>
                        <a href="/detalleRepertorio/{{serie.id}}/{{explotacion.0}}/{{explotacion.1}}" class="btn btn-sm text-white" style="background-color: #ED7D31 !important">Detalle</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
</div>

{% endblock %}