{% extends "./base.html" %}

{% block title %} Buscador de series {% endblock %}

{% block body %}

<div class="container" style="padding-top: 8rem;">
    <div class="row" style="text-align: justify;">
        <h3>Lorem ipsum dolor sit amet consectetur.</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, ea vero corrupti necessitatibus debitis
            veritatis iusto ducimus nemo aspernatur nam numquam? Ratione quo quasi nam totam perspiciatis obcaecati
            harum iusto rem. Veritatis aliquid itaque, iste fugiat similique atque dolorem quis reprehenderit placeat
            dignissimos omnis nobis dicta modi totam optio officiis provident impedit, eius soluta, consequatur eaque
            sunt ad quo. Eius cumque pariatur voluptatum ducimus placeat, cum nulla ab amet assumenda sunt iusto
            praesentium hic quis, ut dolores facere delectus voluptate neque necessitatibus, fuga reprehenderit
            accusantium. Expedita, delectus aspernatur, cumque minus repudiandae voluptatum esse voluptatibus ipsam aut
            saepe voluptatem voluptas explicabo?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, ea vero corrupti necessitatibus debitis
            veritatis iusto ducimus nemo aspernatur nam numquam? Ratione quo quasi nam totam perspiciatis obcaecati
            harum iusto rem. Veritatis aliquid itaque, iste fugiat similique atque dolorem quis reprehenderit placeat
            dignissimos omnis nobis dicta modi totam optio officiis provident impedit, eius soluta, consequatur eaque
            sunt ad quo. Eius cumque pariatur voluptatum ducimus placeat, cum nulla ab amet assumenda sunt iusto
            praesentium hic quis, ut dolores facere delectus voluptate neque necessitatibus, fuga reprehenderit
            accusantium. Expedita, delectus aspernatur, cumque minus repudiandae voluptatum esse voluptatibus ipsam aut
            saepe voluptatem voluptas explicabo?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, ea vero corrupti necessitatibus debitis
            veritatis iusto ducimus nemo aspernatur nam numquam? Ratione quo quasi nam totam perspiciatis obcaecati
            harum iusto rem. Veritatis aliquid itaque, iste fugiat similique atque dolorem quis reprehenderit placeat
            dignissimos omnis nobis dicta modi totam optio officiis provident impedit, eius soluta, consequatur eaque
            sunt ad quo. Eius cumque pariatur voluptatum ducimus placeat, cum nulla ab amet assumenda sunt iusto
            praesentium hic quis, ut dolores facere delectus voluptate neque necessitatibus, fuga reprehenderit
            accusantium. Expedita, delectus aspernatur, cumque minus repudiandae voluptatum esse voluptatibus ipsam aut
            saepe voluptatem voluptas explicabo?</p>
    </div>
    <div class="row">
        <div class="container-card">
            <a href="/obras/anteriores/" class="nav-link mb-2">
                <div class="card">
                    <div class="card-body">
                        2022 y anteriores
                    </div>
                </div>
            </a>
            <a href="/obras/" class="nav-link">
                <div class="card">
                    <div class="card-body">
                        2023 y posteriores
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}