{% extends "./base.html" %}

{% block title %} 2023 Y POSTERIORES | REPERTORIO {% endblock %}

{% block body %}

<main class="main">
    <div class="container">
        <section class="section__one">
            <div class="row mt-5">
                <div class="col-md-7">
                    <h1 class="title__main">2023 <span>Y POSTERIORES</span></h1>
                </div>
            </div>
        </section>

        <section class="section__two">
            <div class="row">
                <h2 class="subtitle__main my-5">ENCUENTRA FÁCIL</h2>

                <div class="col-md-3">
                    <div class="card__item">
                        <div class="group_title_item">
                            <span>1</span>
                            <span>BUSCA LA OBRA</span>
                        </div>
                        <p>
                            <span>Escribe el nombre de la obra</span> en la casilla de búsqueda y dale <span>clic en
                                detalle</span>
                            una vez que te aparezca en los resultados
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card__item">
                        <div class="group_title_item">
                            <span>2</span>
                            <span>ELIJE LA <br> DISTRIBUCIÓN</span>
                        </div>
                        <p>
                            Selecciona la distribución que quieres consultar haciendo <span>clic en detalle</span>.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card__item">
                        <div class="group_title_item">
                            <span>3</span>
                            <span>ELIJE LA <br> EXPLOTACIÓN</span>
                        </div>
                        <p>
                            Selecciona el periodo de explotación que quieres consultar de la distribución seleccionada
                            anteriormente
                            haciendo nuevamente <span>clic en detalle</span>.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card__item">
                        <div class="group_title_item">
                            <span>4</span>
                            <span>¡LISTO! LO <br> ENCONTRASTE</span>
                        </div>
                        <p>
                            Selecciona la pestaña que corresponda a la categoría de artista que quieres consultar entre
                            “No
                            Identificados” y “No Socios” para ver la información
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="section__three">
        <div class="container">
            <div class="row">
                <div class="contend__title__section">
                    <h2 class="subtitle__main" id="subtitle__main">CONSULTAS</h2>

                    <nav aria-label="breadcrumb" class="breadcrumb">
                        {% if serie %}
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                            <li class="breadcrumb-item" aria-current="page"><a href="/obras/">Obras 2023 y
                                    posteriores</a></li>
                            <li class="breadcrumb-item" aria-current="page"><a
                                    href="/distribuciones/{{serie.id}}">Distribuciones</a></li>
                            <li class="breadcrumb-item" aria-current="page"><a
                                    href="/detalleExplotacion/{{serie.id}}">Explotaciones</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Repertorio {{ cadena}} - {{ anio}}
                            </li>
                        </ol>
                        {% endif %}
                    </nav>


                    <h4 class="title_table my-3">LISTADO DE ARTISTAS</h4>
                </div>


                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab1" data-bs-toggle="tab" href="#content1">ARTISTAS NO
                            IDENTIFICADOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab2" data-bs-toggle="tab" href="#content2">ARTISTAS NO SOCIOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab3" data-bs-toggle="tab" href="#content3">ARTISTAS FALLECIDOS</a>
                    </li>
                </ul>


                <div class="tab-content pt-5">
                    <div id="content1" class="tab-pane fade show active">

                        <table class="table" id="tablaNoIdentificados">
                            <thead>
                                <tr>
                                    <th scope="col">Personaje</th>
                                    <th scope="col">Actor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ni in noIdentificados %}

                                <tr>
                                    <td>{{ni.personaje}}</td>
                                    <td>{{ni.nombreActor}}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>

                    </div>
                    <div id="content2" class="tab-pane fade">
                        <table class="table" id="tablaNoSocios">
                            <thead>
                                <tr>
                                    <th scope="col">Personaje</th>
                                    <th scope="col">Actor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ns in noSocios %}
                                {% if ns.numeroActor != '0' %}
                                <tr>
                                    <td>{{ns.personaje}}</td>
                                    <td>{{ns.nombreActor}}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="content3" class="tab-pane fade">
                        <table class="table" id="tablaFallecidos">
                            <thead>
                                <tr>
                                    <th scope="col">Personaje</th>
                                    <th scope="col">Actor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for f in fallecidos %}
                                {% if f.numeroActor != '0' %}
                                <tr>
                                    <td>{{f.personaje}}</td>
                                    <td>{{f.nombreActor}}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>




        </div>
        <div class="logo_footer">
            <img src="https://actores.org.co/dev/prescripcion/static/assets/img/logo/logo_footer.png" alt="">
        </div>

        </div>
    </footer>


</main>

{% endblock %}