{% extends "./base.html" %}

{% block title %} Buscador de series {% endblock %}

{% block body %}

<div class="card d-flex justify-content-center align-items-center border-0"
    style="position: absolute; top:0; width: 100vw; height: 100vh; color: #ED7D31;" id="loader">
    <div class="spinner-border m-5" role="status">
        <span class="visually-hidden">Cargando series...</span>
    </div>
</div>

<div class="container">
    <div class="row my-5" id="contenedorPrincipalSeries">
        <div class="col-md-8 offset-md-2">

            <nav aria-label="breadcrumb" style="margin: 5rem 0 4rem;">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="/">Inicio</a></li>
                    <li class="breadcrumb-item" aria-current="page"> Obras 2023 y posteriores</li>
                </ol>
            </nav>

            <h1 class="mb-5">Listado de obras</h1>
            <table class="table" id="tablaSeries">
                <caption>
                    Listado obras
                </caption>
                <thead>
                    <tr>
                        <th scope="col">Título</th>
                        <th scope="col">País</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="tableBody_series">

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}